<h1>Edicion o Consulta de Usuario</h1>
<h2>{{userMail}}</h2>


<div class="form-group" >
    <div class="col-sm-6" >
        <label for="name">Nombre</label>
        <div class="col-sm-6" >    
            <input type="text" id="name" name="name" 
            [value]="user != null ? user.nombre : '' " 
            [readOnly]="mode === 'read' ? 'readOnly' : '' "
            #name>
        </div>
    </div>
    <div class="col-sm-6" >
        <label for="mail">Email</label>
        <div class="col-sm-6" >
            <input type="text" id="mail" name="mail" 
            [value]="user != null ? user.email : '' " 
            [readOnly]="mode === 'read' ? 'readOnly' : '' "
            #mail>
        </div>
    </div>
    <div class="col-sm-6" >
        <label for="password">Contraseña</label>
        <div class="col-sm-6" >
            <input type="password" id="password" name="password" 
            [value]="user != null ? user.password : '' " 
            [readOnly]="mode === 'read' ? 'readOnly' : '' "
            #pass>
        </div>
    </div> 
    <br>
    <button
    (click)="update(name, mail, pass)"
    type="button" 
    class="btn btn-primary"
    >Enviar</button>
</div>