<div class="form-pablo">
    <h2>Form de Pablo</h2>
    <form [formGroup]="form">
        <label for="">Add task</label>
        <input type="text"
        class="add-todo" 
        formControlName="firstInput" >
        <input type="text"
        class="add-todo" 
        placeholder="URL"
        formControlName="urlInput" >
        <button 
        class="btn btn-primary" 
        (click)="add()" 
        [disabled]="!form.valid"
        >{{editFlag ? 'Edit' : 'Add'}}
        </button>
    </form>
    <div>
        {{valor}}
    </div>
</div>