<h1>Alta Usuario</h1>

<div class="form-group" >
    <div class="col-sm-6" >
        <label for="name">Ingrese Nombre</label>
        <div class="col-sm-6" > 
             <input type="text" id="name" name="name" #name>
        </div>
    </div>
    <div class="col-sm-6" >
        <label for="mail">Ingrese Email</label>
        <div class="col-sm-6" >
            <input type="text" id="mail" name="mail" #mail>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="password">Ingrese Contraseña</label>
        <div class="col-sm-6" >
            <input type="password" id="password" name="password" #pass>
        </div>
    </div>
    <br>
    <button 
    (click)="addUser(name, mail, pass)"
    type="button" 
    class="btn btn-primary"
    >Enviar</button>
</div>