<nav
*ngIf="tags.length === 0"
class="tag-wait"
>
<p>CARGANDO TAGS</p>
</nav>
<nav class="tag-group" >
    
    <a 
    *ngFor="let tag of tags"
    href="#"
    (click)="loadArticlesByTag(tag)" 
    class="my-button"
    >
        {{tag}}
    </a>
</nav>
<!--div *ngIf="condition">Content to render when condition is true.</div-->
<div 
    *ngIf="selectedTag != null"
    class="tag-group">
    <h1>Searching articles with this tag: </h1>
    <a 
    href="#"
    (click)="loadArticlesByTag(selectedTag)" 
    class="my-button"
    >
        {{selectedTag}}
    </a>
</div>
<div *ngFor="let article of articles"
    class="articles"
>
    <h1 class="title" >{{article.title}} </h1>
    
    <nav class="tag-group" >
        <p style="margin-top: 2px; margin-bottom: 1px;" ><b>Tags relacionados con el post: </b></p>    
        <a 
        *ngFor="let tag of article.tagList"
        href="#"
        (click)="loadArticlesByTag(tag)" 
        class="my-button"
        >
            {{tag}}
        </a>
    </nav>
    <h2><b>{{article.description}}</b></h2>
    <h3><b>Fecha creacion:</b> {{article.createdAt}}</h3>
    <p><b></b> {{article.body}}</p>
    <textarea name="textArea" id="textArea" cols="20" rows="5" class="textAreaComment" #comment >

    </textarea><br>
    
    <button (click)="addComment(article.slug,comment)" class="boton" >Add comments</button>
    <h3>Comentarios del Articulo</h3>
    <button (click)="getComments(article.slug)" class="boton">Get comments</button>
    <ul>
        <li *ngFor="let com of comments" >
            {{com.body}}
        </li>
    </ul>
</div>