<nav class="tag-group" >

    <a 
    *ngFor="let tag of tags"
    href="#"
    (click)="loadArticlesByTag(tag)" 
    class="my-button"
    >
        {{tag}}
    </a>
</nav>


<div *ngFor="let article of articles"
    class="articles"
>
    <h1 class="title" >TITULO: {{article.title}} </h1>
    
    <nav class="tag-group" >
        <p style="margin-top: 2px; margin-bottom: 1px;" ><b>Tags relacionados con el post: </b></p>    
        <a 
        *ngFor="let tag of article.tagList"
        href="#"
        (click)="loadArticlesByTag(tag)" 
        class="my-button"
        >
            {{tag}}
        </a>
    </nav>
    <h2><b>DESCRIPCION:</b> {{article.description}}</h2>
    <h3><b>FECHA CREACION:</b> {{article.createdAt}}</h3>
    <p><b>CUERPO:</b> {{article.body}}</p>
</div>