<nav class="tag-group" >

    <a 
    *ngFor="let tag of tags"
    href="#"
    (click)="loadArticlesByTag(tag)" 
    class="my-button"
    >
        {{tag}}
    </a>
</nav>


<div *ngFor="let article of articles"
    class="articles"
>
    <h1 class="title" >{{article.title}} </h1>
    
    <nav class="tag-group" >
        <p style="margin-top: 2px; margin-bottom: 1px;" ><b>Tags relacionados con el post: </b></p>    
        <a 
        *ngFor="let tag of article.tagList"
        href="#"
        (click)="loadArticlesByTag(tag)" 
        class="my-button"
        >
            {{tag}}
        </a>
    </nav>
    <h2><b>{{article.description}}</b></h2>
    <h3><b>Fecha creacion:</b> {{article.createdAt}}</h3>
    <p><b></b> {{article.body}}</p>
    <textarea name="textArea" id="textArea" cols="30" rows="10" class="textAreaComment" #comment >

    </textarea><br>
    <button (click)="addComment(article.slug,comment)" class="boton" >Agregar Comentario</button>
    <h3>Comentarios del Articulo</h3>
    <button (click)="getComments(article.slug)" class="boton">Get comments</button>
    <ul>
        <li *ngFor="let com of comments" >
            {{com.body}}
        </li>
    </ul>
</div>