<h2>AMBs</h2>
<nav>
    <button
    class="btn btn-secondary"
    (click)="index()"
    >
        INDEX
    </button>
    <button
    class="btn btn-secondary"
    (click)="abmCategorias()"
    >
        ABM Categorias
    </button>
    <button
    class="btn btn-secondary"
    (click)="abmProductos()"
    >
        ABM Productos
    </button>
</nav>
<h2>LISTADOS</h2>
<nav>
    <button
    class="btn btn-secondary"
    (click)="categorias()"
    >
        Categorias
    </button>
    <button
    class="btn btn-secondary"
    (click)="productos()"
    >
        Productos
    </button>
</nav>


<router-outlet></router-outlet>